/* 
    Created on : Nov 9, 2016, 7:34:57 PM
    Author     : DANNY
*/

html, body {
    margin:0px;
    padding:0;
    margin-top: -15px;
    min-width: 750px;
    min-height: 576px;
}

*{
    color:white;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #18BC9C;
    position: absolute;
    width:100%;
    height: 100vh;
    margin: 0;
    padding: 0;

}

#container{
    width:100%;
    margin:0px;
    padding:0px;
    position: relative;
    height: 100%;


}

div.hidden
{
    display: none
}

#logo{
    position: relative;
    display: inline-block;
    width:50px;
    height:50px;
    float:left;
    display: none

}

#ulmenu{
    list-style: none;
}

#menu.large{

    position:fixed;
    z-index: 1000;
    text-align: right;
    width:100%;
    height:100px;
    background-color: #2C3E50;
    border-radius:0px;;
    margin:0px;
    padding:0px;
    top:0px;
    -webkit-transition: all 0.5s ease;
}

#menu.small{

    position:fixed;
    z-index: 1000;
    text-align: right;
    width:100%;
    height:50px;
    background-color: #2C3E50;
    border-radius:0px;;
    margin:0px;
    padding:0px;
    top:0px

}

#menu p a.largep{
    position: absolute;
    top:30px;
    left:100px;
    font-size: 30px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
}

#menu p a.smallp{
    position: absolute;
    top:7px;
    left:55px;
    font-size: 30px;
    text-decoration: none;

}

#menu ul li.largeli{
    text-align: center;
    position: relative;
    margin-right: 30px;
    top:25px;
    background-color: #2C3E50;
    color:white;
    display: inline;
    -webkit-transition: all 0.5s ease;
}
#menu ul li.smallli{
    text-align: center;
    position: relative;
    margin-right: 30px;
    top:0px;
    background-color: #2C3E50;
    color:white;
    display: inline;
}




#menu ul li:last-child{
    margin-right:100px;
}


#menu ul li a{
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
}

#menu ul li a:hover{
    color:#18BC9C;
}


#profile{
    position:relative;
    width:100%;
    height:100%;
    background-color: #18BC9C;
    top:100px;


}

#quotediv{
    position: absolute;
    width:200px;
    top: 50px;
    left:100px;
}
#quotep{
    position: relative;
    width:200px;
    word-wrap: break-word;
}

#profile1{
    width:250px;
    height:250px;
    position: relative;
    margin:auto;
    border-radius: 100%;
    background-color: #18BC9C;
}

#profilepic{
    width:250px;
    height:250px;
    position: relative;
    margin:auto;
    border-radius: 100%;
    margin-top:70px;
}

#profile2{
    width:100%;
    height:250px;
    position: relative;
    margin:auto;
    text-align: center;
    background-color: #18BC9C;
    margin-top:100px;
}

#profiletext{
    width:100%;
    height:20%;
    position: relative;
    margin:auto;
    text-align: center;
    background-color: #18BC9C;
    font-size: 60px;
    font-weight: bold;
    top:0px;
}

#hr{
    position:relative;
    top:20px;
    border:solid white 2px;
    width:200px;
}

.hr1{
    position:relative;
    margin-top:170px;
    border:solid #2C3E50 2px;
    width:200px;

}
.hr2{
    position:relative;
    margin-top:170px;
    border:solid white 2px;
    width:200px;

}


#profiletext1{
    width:100%;
    height:20%;
    top:0px;
    position: relative;
    margin:auto;
    text-align: center;
    background-color: #18BC9C;
    font-size: 25px;
    margin-top: 30px;
}

#portfolio{
    position:relative;
    width:100%;
    height:100%;
    background-color: white;
    margin:0px;
    padding:0px;
    margin-top: 0px;;
    overflow-y:scroll;

}

#portfolioheader{
    width:100%;
    height:20px;
    position: relative;
    margin:auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:#2C3E50;
    background-color: white;
    top:110px;
}

#projects{
    position: relative;
    width:100%;
    padding: 0px;
    text-align: center;
    margin-top: 100px;

}

.projects-div{
    display:inline-block;
    position: relative;
    height:250px;
    width:20%;
    margin: auto;
    padding: 0px;
    background-color: white;
    transition: background-color 1s ease;

}



#projects .projects .projects-div:hover > .ppr{

    top:-140px;
    color:white;
    font-size: 25px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
#projects .projects .projects-div:hover > .imgpr{
    opacity: 0.4;

}
#projects .projects .projects-div:hover{

    background-color: #18BC9C;

}

.ppr{
    position: relative;
    margin: auto;
    padding: 0px;
    top:10px;
    font-size: 25px;
    color:#2C3E50;
    word-wrap: break-word;
    transition: opacity 0.5s;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

#projects .imgpr{
    position: relative;
    width:100%;
    height: 100%;
    border-radius: 100%;
    margin: auto;
    padding: 0px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}




#about{
    position:relative;
    width:100%;
    height:100%;
    background-color: #2C3E50;
    margin:0px;
    padding:0px;
    margin-top: 0px;
}

#aboutheader{
    width:100%;
    height:20px;
    position: relative;
    margin:auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:white;
    background-color: #2C3E50;
    top:110px;
}

#aboutme{
    color:white;
    width:700px;
    font-size: 20px;
    margin:auto;
    text-align: center;
    margin-top:100px;
}


#Cv{
    position:relative;
    width:100%;
    height:100%;
    background-color: #18BC9C;
    margin:0px;
    padding:0px;
    margin-top: 0px;;
    overflow-y:scroll;
}

#cvheader{
    width:100%;
    height:20px;
    position: relative;
    margin:auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:white;
    background-color: #18BC9C;
    top:110px;
}

#cvtable{
    position:relative;
    width:90%;
    margin: auto;
    text-align: center;
    top: 30px;
}

.tableheader>td{
    width:33%;
    font-size: 30px;
    font-weight:bold;
    color:#2C3E50;
    padding: 15px;
}

.trs>td{
    width:16.5%;
    height:60px;
    font-size: 20px;
    padding: 5px;
}
.trsfirst{

    text-align: center;
}

#fullcvbutton{
    transition: background-color 0.5s ease;
    width:50%;
    font-size: 20px;
    padding: 10px;
    border:solid white 1px;
    border-radius: 15px;
    color:#2C3E50;
    font-weight: bold;
    background-color: white;
    -webkit-transition: 0.5 ease;
    cursor: pointer;
}

#fullcvbutton:hover{
    transition: background-color 0.5s ease;
    width:50%;
    font-size: 20px;
    padding: 10px;
    border:solid #2C3E50 1px;
    border-radius: 15px;
    color:white;
    font-weight: bold;
    background-color: #18BC9C;
    cursor: pointer;
   
}
#fullcvbutton:focus {
    outline:0;
}

#contactme{
    position:relative;
    width:100%;
    height:100%;
    background-color: white;
    margin:0px;
    padding:0px;
    margin-top: 0px;
    overflow-y:scroll;

}

#contactmeheader{
    width:100%;
    height:20px;
    position: relative;
    margin:auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:#2C3E50;
    background-color: white;
    top:110px;
}

#contactformdiv{
    position:relative;
    width:100%;
    background-color: white;
    margin:0px;
    padding:0px;
    margin-top: 0px;;
    text-align: center;
}

#contactform{
    width:800px;
    height:300px;
    position: relative;
    margin:auto;
    text-align: center;
    font-size: 20px;
    color:#2C3E50;
    background-color: white;

}


.inputdiv{
    width:800px;
    height: 40px;
    position: relative;
    margin:auto;
    margin-top: 40px; 
    text-align: left;
}

.inputdiv>input{
    width:800px;
    height:40px;
    margin: auto;
    color:black;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    border-left:none;
    border-right:none;
    border-top: none;
    outline: none;

}
.inputdiv>textArea{
    width:800px;
    height:40px;
    margin: auto;
    color:black;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    border-left:none;
    border-right:none;
    border-top: none;
    outline: none;

}

.inputdiv>label{
    color:#2C3E50;
    font-size: 20px;
    text-transform: capitalize;
}


#contactform button{
    margin-top: 20px;
    font-size: 20px;
    color:white;
    width:150px;
    height:50px;
    background-color: #18BC9C;
    position: relative;
    float: left;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

#textarea{
    resize: none;
    height:80px;
}


#contactform button:hover{
    background-color: #169B81;

}

#contactform button:active{
    background-color: white;
    color:#2C3E50;

}

#footer{
    position:relative;
    width:100%;
    height:500px;
    background-color: #2C3E50;
    margin:0px;
    padding:0px;
    margin-top: 0px;;


}

#location{
    position:relative;
    width:33%;
    height:500px;
    background-color: #2C3E50;
    margin:0px;
    padding:0px;
    margin-top: 0px;;
    float: left;
    margin: auto;
}


#location p{
    position:relative;
    width:100%;
    background-color: #2C3E50;
    margin: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

#location>div{
    position:relative;
    background-color: #2C3E50;
    margin: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    width:70%;
    height: 70%;

}




#web{
    margin:0px;
    position:relative;
    width:33%;
    height:500px;
    background-color: #2C3E50;
    margin:auto;
    padding:0px;
    margin-top: 0px;;
    float: left;
    margin: auto;
    display:inline;
    text-align: center;
}

#web p{
    position:relative;
    width:100%;
    background-color: #2C3E50;
    margin: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

#webdiv{
    width:100%;
    margin:auto;
    margin-top: 40px;
    display: inline;
}

#web ul{
    position:relative;
    background-color: #2C3E50;
    margin-top: 50px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    display:inline;
    width:100%;
    padding: 0px;

}

#web ul li{
    position:relative;
    background-color: #2C3E50;
    width:100%;
    margin-top: 50px;
    margin: auto;    
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    padding: 0px;
    list-style: none;

}

#web ul li a{
    position:relative;
    transition: background-color 0.5s ease;
    width:50%;
    margin-top: 0px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    text-decoration: none;
    display: inline;
    border:solid white 1px;
    border-radius: 100%;
    display: inline-block;
}

#web ul li a:hover{

    color:#2C3E50;
    background-color: white;
 border:solid #18BC9C 1px;
}


#cv{
    margin:0px;
    position:relative;
    width:33%;
    height:500px;
    background-color: #2C3E50;
    margin:0px;
    padding:0px;
    margin-top: 0px;;
    float: right;
    margin: auto;

}

#cv p{
    position:relative;
    width:100%;;
    background-color: #2C3E50;
    margin-top: 0px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

#tablefooter{

    position: relative;
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
    width:100%;

}

#tablefooter tr{
    height: 70px;

}

#web ul{
    position:relative;
    background-color: #2C3E50;
    margin-top: 50px;
    text-align: center;
    margin-top: 40px;
    width:100%;
    padding: 0px;

}

#cv ul li{
    position:relative;
    background-color: #2C3E50;
    width:100%;
    text-align: center;
    padding: 0px;
    list-style: none;
    margin: auto;
    left:-15px;
}

#cv ul li a{
    position:relative;
    transition: background-color 0.5s ease;
    width:33%;
    margin-top: 0px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    text-decoration: none;
    border:solid white 1px;
    border-radius: 15px;
    display: inline-block;
}

#cv ul li a:hover{
    color:#18BC9C;
    background-color: white;
}



#copyright{
    position:relative;
    width:100%;
    height:20px;
    background-color: white;
    margin:0px;
    padding:0px;
    text-align: center;
    color:black;
}

#copyright>p{
    text-align: center;
    color:black;
    font-weight: bold;
    background-color: white;
}




/*
projects pages (classes)
*/



.main{
    position: relative;
    height:100%;
    width:100%;
    margin:0px;
    top:0px;
    padding: 60px;
    text-align: center;
}

#main-div{

    width:80%;
    height:70%;
    top:0px;
    border:solid #18BC9C 2px;
    border-radius: 30px;
    position: relative;
    margin: auto;
    background-color: #18BC9C;

}


#main-pic{
    width:70%;
    height:80%;
    border:solid white 2px;
    position: relative;
    margin: auto;
    top:10%;
}



#main-head{
    font-size:50px;
    font-weight: bold;
    position: relative;
    top:0px;
}

.main-desc{
    font-size:20px;
    color:black;
    position: relative;
    top:20px;
    margin-bottom: 50px;

}

#main-deleteSign{
    position: absolute;
    top:50px;
    right: 40px;
    width:50px;
    height:50px;
}


#close-button{
    position: relative;
    margin: auto;
    color: black;
    margin-bottom: 60px;
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
    width:100px;
    height:50px;
    transition: background-color 0.5s ease;
}

#close-button:hover{

    background-color: #F5F5F5;
    cursor: pointer;
}

#close-button:active{

    background-color: white;
    cursor: pointer;
}

#close-button>span{

    color: black;
    font-weight: bold;
}

#createdby{
    font-size:15px;
    color:black;
    position: relative;
    top:20px;
    margin-bottom: 50px;
}


#createdby>span{
    font-size:15px;
    color:#18BC9C;
    position: relative;
    top:0px;

}



