/* 
    Created on : Nov 9, 2016, 7:34:57 PM
    Author     : DANNY
*/

html, body {
    margin:0px;
    padding:0;
    margin-top: -15px;
}

*{
    color:white;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: white;
    position: absolute;
    width:100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

#container{
    width:100%;
    margin:0px;
    padding:0px;
    position: relative;
    height: 100vh;
}

#menu{

    position:fixed;
    z-index: 1000;
    text-align: right;
    width:100%;
    height:100px;
    background-color: #2C3E50;
    border-radius:0px;;
    margin:0px;
    padding:0px;
    top:0px;

}

#menu p a{
    position: absolute;
    top:30px;
    left:100px;
    font-size: 30px;
    text-decoration: none;
}



#menu ul li {
    text-align: center;
    position: relative;
    margin-right: 30px;
    top:25px;
    background-color: #2C3E50;
    color:white;
    display: inline;
}


#menu ul li:last-child{
    margin-right:100px;
}


#menu ul li a{
    text-decoration: none;
    font-size: 15px;
    -webkit-transition: all 0.5s ease;
}

#menu ul li a:hover{
    color:#18BC9C;
}


#profile{
    position:relative;
    width:100%;
    height:100%;
    background-color: #18BC9C;
    top:100px;
}


#profile1{
    width:250px;
    height:250px;
    position: relative;
    margin:auto;
    border-radius: 100%;
    background-color: #18BC9C;
}

#profilepic{
    width:250px;
    height:250px;
    position: relative;
    margin:auto;
    border-radius: 100%;
    margin-top:70px;
}

#profile2{
    width:100%;
    height:250px;
    position: relative;
    margin:auto;
    text-align: center;
    background-color: #18BC9C;
    margin-top:100px;
}

#profiletext{
    width:100%;
    height:250px;
    position: relative;
    margin:auto;
    text-align: center;
    background-color: #18BC9C;
    font-size: 60px;
    font-weight: bold;
}

#hr{
    position:relative;
    margin-top:-150px;
    border:solid white 2px;
    width:200px;
}

#hr1{
    position:relative;
    margin-top:170px;
    border:solid #2C3E50 2px;
    width:200px;

}

#hr2{
    position:relative;
    margin-top:170px;
    border:solid white 2px;
    width:200px;

}

#hr3{
    position:relative;
    margin-top:170px;
    border:solid #2C3E50 2px;
    width:200px;

}

#profiletext1{
    width:100%;
    height:50px;
    position: relative;
    margin:auto;
    text-align: center;
    background-color: #18BC9C;
    font-size: 25px;
    margin-top: 30px;
}

#portfolio{
    position:relative;
    width:100%;
    height:100%;
    background-color: white;
    margin:0px;
    padding:0px;
    margin-top: 0px;;
}

#portfolioheader{
    width:100%;
    height:20px;
    position: relative;
    margin:auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:#2C3E50;
    background-color: white;
    top:110px;
}

#projects{
    width:100%;
    text-align: center;
    margin-top: 100px;

}

#projects .projects{
    margin:10px;
}

#projects img{
    height:300px;
    width:300px;
}


#about{
    position:relative;
    width:100%;
    height:100%;
    background-color: #18BC9C;
    margin:0px;
    padding:0px;
    margin-top: 0px;;
}

#aboutheader{
    width:100%;
    height:20px;
    position: relative;
    margin:auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:white;
    background-color: #18BC9C;
    top:110px;
}

#aboutme{
    color:white;
    width:700px;
    font-size: 20px;
    margin:auto;
    text-align: center;
    margin-top:100px;
}


#contactme{
    position:relative;
    width:100%;
    height:100%;
    background-color: white;
    margin:0px;
    padding:0px;
    margin-top: 0px;;
}

#contactmeheader{
    width:100%;
    height:20px;
    position: relative;
    margin:auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:#2C3E50;
    background-color: white;
    top:110px;
}

#contactformdiv{
    position:relative;
    width:100%;
    background-color: white;
    margin:0px;
    padding:0px;
    margin-top: 0px;;
    text-align: center;
}

#contactform{
    width:800px;
    height:300px;
    position: relative;
    margin:auto;
    text-align: center;
    font-size: 20px;
    color:#2C3E50;
    background-color: white;

}


.inputdiv{
    width:800px;
    height: 50px;
    position: relative;
    margin:auto;
    margin-top: 40px; 
    text-align: left;
}

.inputdiv>input{
    width:800px;
    height:40px;
    margin: auto;
    color:black;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    border-left:none;
    border-right:none;
    border-top: none;
    outline: none;

}
.inputdiv>textArea{
    width:800px;
    height:40px;
    margin: auto;
    color:black;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    border-left:none;
    border-right:none;
    border-top: none;
    outline: none;

}

.inputdiv>label{
    color:#2C3E50;
    font-size: 20px;
    text-transform: capitalize;
}


#contactform button{
    margin-top: 20px;
    font-size: 20px;
    color:white;
    width:150px;
    height:50px;
    background-color: #18BC9C;
    position: relative;
    float: left;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

#textarea{
    resize: none;
}


#contactform button:hover{
    background-color: #169B81;

}

#contactform button:active{
    background-color: white;
    color:#2C3E50;

}

#footer{
    position:relative;
    width:100%;
    height:500px;
    background-color: #2C3E50;
    margin:0px;
    padding:0px;
    margin-top: 0px;;


}

#location{
    position:relative;
    width:33%;
    height:500px;
    background-color: #2C3E50;
    margin:0px;
    padding:0px;
    margin-top: 0px;;
    float: left;
    margin: auto;
}


#location p{
    position:relative;
    width:33%;
    background-color: #2C3E50;
    margin: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

#location>div{
    position:relative;
    background-color: #2C3E50;
    margin: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    width:300px;
    height: 300px;
}

#location>#map{
    width:300px;
    height:300px;
}


#web{
    margin:0px;
    position:relative;
    width:33%;
    height:500px;
    background-color: #2C3E50;
    margin:auto;
    padding:0px;
    margin-top: 0px;;
    float: left;
    margin: auto;

    display:inline;
    text-align: center;
}

#web p{
    position:relative;
    width:100%;
    background-color: #2C3E50;
    margin: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

#webdiv{
    width:33%;
    margin:auto;
    margin-top: 40px;
    display: inline;
}

#web ul{
    position:relative;
    background-color: #2C3E50;
    margin-top: 50px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    display:inline;
    width:33%;
    padding: 0px;

}

#web ul li{
    position:relative;
    background-color: #2C3E50;
    width:100%;
    margin-top: 50px;
    margin: auto;    
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    padding: 0px;
    list-style: none;

}

#web ul li a{
    position:relative;
    transition: background-color 0.5s ease;
    width:200px;
    margin-top: 0px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    text-decoration: none;
    display: inline;
    border:solid white 1px;
    border-radius: 100%;
    display: inline-block;
}

#web ul li a:hover{

    color:#18BC9C;
    background-color: white;

}


#cv{
    margin:0px;
    position:relative;
    width:33%;
    height:500px;
    background-color: #2C3E50;
    margin:0px;
    padding:0px;
    margin-top: 0px;;
    float: right;
    margin: auto;

}

#cv p{
    position:relative;
    width:200px;;
    background-color: #2C3E50;
    margin-top: 0px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

#tablefooter{

    position: relative;
    margin: auto;
    margin-top: 40px;
    font-size: 15px;
    text-align: left;
    width:300px;

}

#tablefooter tr{
    height: 70px;

}

#web ul{
    position:relative;
    background-color: #2C3E50;
    margin-top: 50px;
    text-align: center;
    margin-top: 40px;
    width:200px;
    padding: 0px;

}

#cv ul li{
    position:relative;
    background-color: #2C3E50;
    width:100%;


    text-align: center;

    padding: 0px;
    list-style: none;
    margin: auto;
    margin-left: -20px;
}

#cv ul li a{
    position:relative;
    transition: background-color 0.5s ease;
    width:200px;
    margin-top: 0px;
    margin: auto;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    text-decoration: none;

    border:solid white 1px;
    border-radius: 15px;
    display: inline-block;
}

#cv ul li a:hover{
    color:#18BC9C;
    background-color: white;
}






